@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Space+Mono:wght@400;700&display=swap');

:root{

    //Primary
    --strong-cyan: hsl(172, 67%, 45%);

    //Neutral
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --dark-grayish-cyan2: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --light-grayish-cyan2: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);

    //Font
    font-family: 'Space Mono', sans-serif;
    font-size: 24px;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//Mobile responsive
body{
    background: var(--light-grayish-cyan);

    main{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        height: 100vh;

        .logo{
            width: 4rem;
            padding: 2rem 0;
        }

        .card{
            background: var(--white);
            padding: 1rem;
            border-radius: 10px 10px 0 0;
            display: flex;
            flex-direction: column;

            .left-col{
                display: flex;
                flex-direction: column;
                gap: 1rem;
                padding: 0 .5rem;

                .bill{
                    p{
                        font-size: .75rem;
                        color: var(--very-dark-cyan);
                        padding-bottom: .25rem;
                    }

                    .bill__input{
                        width: 100%;
                        padding: .25rem .5rem .25rem 0;
                        background: var(--light-grayish-cyan2);
                        background-image: url("../images/icon-dollar.svg");
                        background-repeat: no-repeat;
                        background-position-y: 50%;
                        background-position-x: 5%;
                        border: none;
                        border-radius: 5px;
                        -webkit-appearance: none;
                        -moz-appearance: textfield;
                        text-align: right;
                        font-family: 'Space Mono', sans-serif;
                        font-weight: 700;
                        color: var(--very-dark-cyan); 
                        font-size: 1rem;
                
                        &:focus{
                            outline: solid .1rem var(--strong-cyan);
                        }
                    }
                }

                .select-tip{
                    p{
                        font-size: .75rem;
                        color: var(--very-dark-cyan);
                    }

                    .select-tip__choices{
                        display: flex;
                        flex-direction: row;
                        flex-flow: wrap;
                        gap:5%;

                        .select-tip__btn{
                            width: 47.5%;
                            padding: .5rem;
                            background: var(--very-dark-cyan);
                            color: var(--white);
                            font-size: 1rem;
                            font-family: 'Space Mono', sans-serif;
                            font-weight: 700;
                            border: none;
                            border-radius: 5px;
                            margin-top: 5%;

                            &:hover{
                                background: var(--light-grayish-cyan);
                                cursor: pointer;
                                color: var(--very-dark-cyan);
                            }
                        }

                        .active-btn{
                            background: var(--light-grayish-cyan);
                            color: var(--very-dark-cyan);
                        }

                        .select-tip__input{
                            background: var(--light-grayish-cyan2);
                            border: none;
                            border-radius: 5px;
                            -webkit-appearance: none;
                            -moz-appearance: textfield;
                            text-align: right;
                            font-family: 'Space Mono', sans-serif;
                            font-weight: 700;
                            color: var(--very-dark-cyan); 
                            padding: 0 .5rem 0 0 ;
                            width: 47.5%;
                            font-size: 1rem;
                            height: 2.5rem;
                            margin-top: 5%;

                            &:focus{
                                outline: solid .1rem var(--strong-cyan);
                                cursor: pointer;
                            }
                        }

                        .active-input-tip{
                            outline: solid .1rem var(--strong-cyan);
                        }
                    }
                }

                .number-of-people{
                    p{
                        font-size: .75rem;
                        color: var(--very-dark-cyan);
                        padding-bottom: .25rem;
                        span{
                            display: none;
                        }
                    }

                    .active-error-text{
                        span{
                            color: red;
                            display: block;
                        }
                    }

                    
                    .active-error-input{
                        outline: solid 0.1rem red;
                    }

                    .number-of-people__input{
                        width: 100%;
                        padding: .25rem .5rem .25rem 0;
                        background: var(--light-grayish-cyan2);
                        background-image: url("../images/icon-person.svg");
                        background-repeat: no-repeat;
                        background-position-y: 50%;
                        background-position-x: 5%;
                        border: none;
                        border-radius: 5px;
                        -webkit-appearance: none;
                        -moz-appearance: textfield;
                        text-align: right;
                        font-family: 'Space Mono', sans-serif;
                        font-weight: 700;
                        color: var(--very-dark-cyan); 
                        font-size: 1rem;
                        margin-bottom: 1rem;
                    }

                }
            }

            .right-col{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                background: var(--very-dark-cyan);
                border-radius: 10px;
                padding: 1rem;
                gap: 1rem;

                .amount{
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    .tip__amount{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        p{
                            display: block;
                            color: var(--white);
                            font-size: .75rem;
                            font-weight: 700;
                            span{
                                display: block;
                                color: var(--light-grayish-cyan);
                                font-size: .5rem;
                            }
                        }

                        .tip__value{
                            font-size: 1.25rem;
                            color: var(--strong-cyan);
                        }
                    }


                    .total__amount{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        p{
                            display: block;
                            color: var(--white);
                            font-size: .75rem;
                            font-weight: 700;
                            span{
                                display: block;
                                color: var(--light-grayish-cyan);
                                font-size: .5rem;
                            }
                        }

                        .total__value{
                            font-size: 1.25rem;
                            color: var(--strong-cyan);
                        }
                    }
                }

                .reset__btn{
                    padding: .5rem;
                    background: var(--strong-cyan);
                    border: none;
                    border-radius: 5px;
                    color: var(--very-dark-cyan);
                    font-weight: 700;
                    text-transform: uppercase;
                    font-size: .75rem;
                    text-align: center;
                    font-family: 'Space Mono', sans-serif;

                    &:hover{
                        background: var(--light-grayish-cyan);
                        cursor: pointer;
                    }

                    &:disabled{
                        opacity: .3;

                        &:hover{
                            background: var(--strong-cyan);
                        }
                    }
                }
            }
        }
    }
}

//Desktop responsive
@media only screen and (min-width:1200px){
    body{
        main{
            height: 100vh;
            justify-content: center;
            align-items: center;

            .logo{
                padding: 0 0 4rem 0;
            }

            .card{
                flex-direction: row;
                gap: 2rem;
                border-radius: 25px;
                max-width: 40rem;
                box-shadow: 0 20px 50px var(--dark-grayish-cyan);
                padding: 1.5rem;

                .left-col{
                    width: 50%;

                    .select-tip{
                        .select-tip__choices{
                            .select-tip__btn{
                                width: 30%;
                            }

                            .active-btn{
                                background: var(--light-grayish-cyan);
                                color: var(--very-dark-cyan);
                            }

                            .select-tip__input{
                                width: 30%;
                                text-align: center;
                                padding: 0;
                            }

                            .active-input-tip{
                                outline: solid .1rem var(--strong-cyan);
                            }
                        }
                    }

                    .number-of-people{
                        p{
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between; 
                            span{
                                display: none;
                            }
                        }

                        .active-error-text{
                            span{
                                color: red;
                                display: block;
                            }
                        }
    
                        .active-error-input{
                            outline: solid 0.1rem red;
                        }
                    }
                }

                .right-col{
                    width: 50%;
                    padding: 2rem;

                    .amount{
                        .tip__amount{
                            .tip__value{
                                font-size: 2rem;
                            }
                        }

                        .total__amount{
                            .total__value{
                                font-size: 2rem;
                            }
                        }
                    }
                }
            }
        }
    }
}